@font-face {
  font-family: "Apex";
  src: url("./../fonts/Apex-Bold.ttf");
  src: local("Apex"), local("Apex"), url("./../fonts/Apex-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Regular.eot");
  src: local("Inter-Regular"), local("Inter-Regular"), url("./../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Inter-Regular.woff2") format("woff2"), url("./../fonts/Inter-Regular.woff") format("woff"), url("./../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Bold.eot");
  src: local("Inter-Bold"), local("Inter-Bold"), url("./../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Inter-Bold.woff2") format("woff2"), url("./../fonts/Inter-Bold.woff") format("woff"), url("./../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-LightBETA.eot");
  src: local("Inter Light BETA"), local("Inter-LightBETA"), url("./../fonts/Inter-LightBETA.eot?#iefix") format("embedded-opentype"), url("./../fonts/Inter-LightBETA.woff2") format("woff2"), url("./../fonts/Inter-LightBETA.woff") format("woff"), url("./../fonts/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body.lock {
  overflow: hidden;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0;
}

h2, p {
  margin: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  width: 1216px;
  margin: 0 auto;
}

.mobile {
  display: none;
}

.title {
  font-family: "Apex", sans-serif;
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 50px;
}
.title span {
  color: #D2003F;
}

.arrow-prev {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #34384E;
  margin-right: 8px;
  cursor: pointer;
}
.arrow-prev img {
  height: 10px;
  width: 10px;
  object-fit: contain;
}

.arrow-next {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D2003F;
  cursor: pointer;
  transform: translateY(12px);
}
.arrow-next img {
  height: 10px;
  width: 10px;
  object-fit: contain;
}

.button {
  padding: 10px 20px;
  background: #D2003F;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.button:hover {
  background: #FA2867;
}

.breadcrumbs {
  padding-top: 20px;
}
.breadcrumbs ul {
  display: flex;
  align-items: center;
}
.breadcrumbs li {
  position: relative;
}
.breadcrumbs li a {
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
  color: inherit;
  text-decoration: none;
  transition: 0.6s;
}
.breadcrumbs li a:hover {
  opacity: 0.6;
}
.breadcrumbs li:not(:last-child) {
  margin-right: 40px;
}
.breadcrumbs li:not(:last-child)::before {
  content: "/";
  color: #D2003F;
  position: absolute;
  top: 0;
  right: -20px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}
.header__inner::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #34384E;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__logo {
  width: 289px;
  height: 71px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 27px;
}
.header__tel {
  font-family: "Apex", sans-serif;
  font-size: 32px;
  color: #34384E;
  text-decoration: none;
  margin-right: 30px;
}
.header__tel-btn {
  padding: 10px 20px;
  background: #D2003F;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.header__tel-btn:hover {
  background: #FA2867;
}
.header__info {
  width: 288px;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  font-family: "Inter";
}

.banner__inner {
  padding: 50px 0 100px 0;
}
.banner__title {
  width: 85%;
  font-family: "Apex", sans-serif;
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 50px;
}
.banner__title span {
  color: #D2003F;
}
.banner__info {
  display: flex;
  justify-content: space-between;
}
.banner__list {
  width: 495px;
}
.banner__list-item {
  padding-left: 37px;
  position: relative;
}
.banner__list-item:not(:last-child) {
  margin-bottom: 24px;
}
.banner__list-item::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(./../img/done-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #D2003F;
  position: absolute;
  top: 0.4em;
  left: 0;
}
.banner__list-item h2 {
  font-family: "Apex", sans-serif;
  font-size: 24px;
  line-height: 31.5px;
  margin-bottom: 10px;
}
.banner__list-item p {
  font-size: 17px;
  font-weight: 300;
  line-height: 21px;
}
.banner__video-wrap {
  position: relative;
  width: 598px;
  height: 408px;
}
.banner__video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.banner__video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #D2003F;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.banner__video-btn:hover {
  background: #FA2867;
}
.banner__video-btn img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-left: 0.5em;
  margin-top: 0.1em;
}
.banner.inner-page .banner__inner {
  padding-top: 20px;
}
.banner.inner-page .banner__title {
  width: 100%;
}
.banner.inner-page .banner__list {
  margin-bottom: 30px;
}
.banner.inner-page .banner__list-title {
  font-family: "Apex";
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 30px;
}
.banner.inner-page .banner__list-item p {
  font-size: 20px;
  line-height: 24.2px;
}
.banner.inner-page .banner__list-item::before {
  top: 0;
}
.banner.inner-page .banner__list-item:not(:last-child) {
  margin-bottom: 18px;
}
.banner.inner-page .banner__button {
  width: 219px;
  height: 58px;
}

.volume {
  background: #F5F6F8;
  padding: 90px 0 100px 0;
}
.volume__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.volume__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.volume__item img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}
.volume__item:not(:last-child)::before {
  content: "";
  width: 1px;
  height: 100%;
  background: #D7D8DA;
  position: absolute;
  top: 0;
  right: -20px;
}
.volume__item-info {
  text-align: center;
}
.volume__item-title {
  font-family: "Apex", sans-serif;
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 9px;
}
.volume__item-subtitle {
  font-family: "Apex", sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 9px;
}
.volume__item-par {
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
}

.products {
  padding-top: 90px;
  margin-bottom: 100px;
}
.products__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.products__item {
  cursor: pointer;
}
.products__item:hover .products__item-top-info {
  opacity: 1;
}
.products__item-top {
  height: 230px;
  position: relative;
}
.products__item-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products__item-top-info {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0) 38.79%);
  padding: 20px;
  opacity: 0;
  transition: 0.7s;
}
.products__for {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 8px;
}
.products__for-item {
  padding: 6px 10px;
  background: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  width: max-content;
}
.products__for-item:not(:last-child) {
  margin-bottom: 2px;
}
.products__for-item:empty {
  background: transparent;
}
.products__item-bottom {
  padding: 12px 20px 10px 20px;
  background: #F5F6F8;
}
.products__item-title {
  font-family: "Apex", sans-serif;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
  display: block;
  color: inherit;
  text-decoration: none;
  transition: 0.6s;
}
.products__item-title::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #34384E;
  position: absolute;
  left: 0;
  bottom: 0;
}
.products__item-title:hover {
  opacity: 0.6;
}
.products__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;
}
.products__item-info:not(:last-child) {
  margin-bottom: 10px;
}
.products__item-info:not(:last-child)::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #D7D8DA;
  position: absolute;
  left: 0;
  bottom: 0;
}
.products__key {
  font-size: 15px;
  line-height: 18px;
  color: #7D7E80;
  padding-right: 7px;
}
.products__value {
  font-size: 15px;
  line-height: 18px;
  color: #7D7E80;
}

.production {
  margin-bottom: 100px;
}
.production__title {
  margin-bottom: 60px;
}
.production__item {
  display: flex;
  justify-content: space-between;
}
.production__item:nth-child(2) {
  flex-direction: row-reverse;
}
.production__item:not(:last-child) {
  margin-bottom: 56px;
}
.production__photo-block {
  width: 392px;
  height: 500px;
}
.production__photo-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.production__content-block {
  width: 784px;
}
.production__item-title {
  font-family: "Apex", sans-serif;
  font-size: 32px;
  line-height: 42px;
  padding-bottom: 20px;
  position: relative;
}
.production__item-title::before {
  content: "";
  height: 2px;
  width: 100%;
  background: #34384E;
  position: absolute;
  bottom: 0;
  left: 0;
}
.production__list {
  padding: 0;
  margin: 0;
  counter-reset: my-awesome-counter;
  list-style: none;
}
.production__list-item {
  display: flex;
  padding: 22px 20px 20px 70px;
  position: relative;
  counter-increment: my-awesome-counter;
}
.production__list-item::before {
  content: counter(my-awesome-counter);
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  width: 50px;
  height: 38px;
  padding: 10px;
  position: absolute;
  top: 15px;
  left: 0;
  background: #D2003F;
}
.production__list-item::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #D1D1D1;
  position: absolute;
  bottom: 0;
  left: 0;
}
.production__list-item h3 {
  width: 252px;
  font-family: "Apex", sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin: 0 20px 0 0;
  flex-shrink: 0;
}
.production__list-item p {
  font-size: 17px;
  line-height: 19px;
  font-weight: 300;
}
.production__list-item-text {
  display: flex;
}

.work {
  padding: 90px 0 100px 0;
  background: #1F243E;
}
.work__title {
  color: #fff;
}
.work__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.work__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__item-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #34384E;
  margin-bottom: 20px;
}
.work__item-img img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.work__item-title {
  font-family: "Apex", sans-serif;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}
.work__item-subtitle {
  font-size: 17px;
  line-height: 22px;
  color: #fff;
  text-align: center;
}
.work__item-subtitle a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.cases {
  padding: 90px 0 100px 0;
  background: #F5F6F8;
}
.cases__slider-slide {
  display: flex;
}
.cases__slide-about {
  width: 289px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.cases__company {
  width: 289px;
  height: 173px;
  border: 2px solid #34384E;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cases__company-logo {
  width: 200px;
  height: 44px;
  margin-bottom: 20px;
}
.cases__company-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cases__company-about {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  padding: 6px 10px;
  background: #fff;
}
.cases__slide-arrow {
  display: flex;
  margin-top: auto;
  position: relative;
  margin-bottom: 12px;
}
.cases__slide-text {
  background: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.cases__text-items {
  width: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}
.cases__item:not(:last-child) {
  margin-bottom: 23px;
}
.cases__key {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}
.cases__value {
  font-family: "Apex", sans-serif;
  font-size: 24px;
  line-height: 31px;
  line-height: 30px;
}
.cases__par {
  padding-top: 30px;
  position: relative;
}
.cases__par h3 {
  font-family: "Apex", sans-serif;
  font-size: 24px;
  line-height: 31px;
  margin: 0px 0px 20px 0px;
}
.cases__par p {
  font-size: 17px;
  line-height: 20.7px;
  font-weight: 300;
}
.cases__img {
  position: absolute;
  top: 33px;
  right: 40px;
  width: 28px;
  height: 24px;
}
.cases__img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.trust {
  padding: 90px 0 100px 0;
}
.trust__top {
  display: flex;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;
}
.trust__top::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #34384E;
  position: absolute;
  bottom: 0;
  left: 0;
}
.trust__title-block {
  width: 289px;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.trust__slide-arrow {
  display: flex;
  margin-top: auto;
}
.trust__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.trust__advantages {
  width: 905px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  align-self: end;
}
.trust__advantages-item h2 {
  font-family: "Apex";
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}
.trust__advantages-item p {
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
}

.delivery {
  background: #F5F6F8;
  padding: 100px 0 95px;
}
.delivery__inner {
  padding-bottom: 496px;
  position: relative;
}
.delivery__map {
  width: 1024px;
  height: 607px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 48px;
}
.delivery__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.delivery__title {
  width: 837px;
  margin-right: 90px;
  margin-bottom: 0;
}
.delivery__subtitle {
  width: 286px;
  font-size: 17px;
  line-height: 19px;
  font-weight: 300;
}
.delivery__list {
  display: grid;
  grid-template-columns: 289px 289px;
  gap: 18px 20px;
}
.delivery__list-item {
  padding-left: 37px;
  position: relative;
  font-family: "Apex";
  font-size: 24px;
  line-height: 31px;
}
.delivery__list-item::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(./../img/done-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #D2003F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.delivery__list-item a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
.delivery__list-item a:hover {
  opacity: 0.6;
}

.feedback .container {
  width: 1468px;
}
.feedback__inner {
  background: #1F243E;
  padding: 60px 127px 80px 127px;
}
.feedback__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 26px;
}
.feedback__item:not(:last-child) {
  margin-right: 20px;
}
.feedback__item:nth-child(1), .feedback__item:nth-child(2) {
  width: 288px;
}
.feedback__item:nth-child(3) {
  flex-grow: 1;
}
.feedback__item-title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.feedback__label {
  height: 60px;
}
.feedback__label input {
  height: 100%;
  width: 100%;
  padding: 16px 18px 20px 20px;
  border: 1px solid #FFFFFF;
  background: transparent;
  font-size: 24px;
  line-height: 20px;
  color: #34384E;
  transition: 0.5s;
  cursor: pointer;
}
.feedback__label input::placeholder {
  font-size: 24px;
  line-height: 20px;
  color: rgba(225, 225, 225, 0.33);
}
.feedback__label input:focus, .feedback__label input:active {
  background: #fff;
  outline: none;
}
.feedback__label input:focus::placeholder, .feedback__label input:active::placeholder {
  font-size: 24px;
  line-height: 20px;
  color: #34384E;
  opacity: 0.5;
}
.feedback__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  height: 58px;
  background: #D2003F;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}
.feedback__btn:hover {
  background: #FA2867;
}

.faq {
  padding: 100px 0;
}
.faq__inner {
  display: flex;
  justify-content: space-between;
}
.faq__title {
  width: 231px;
}
.faq__spoller {
  width: 904px;
}
.faq__spoller-item {
  border: 2px solid #fff;
  transition: 0.6s;
}
.faq__spoller-item:not(:last-child) {
  margin-bottom: 2px;
}
.faq__spoller-item.active {
  border: 2px solid #D2003F;
}
.faq__spoller-title-wrap {
  padding: 16px 20px 24px 23px;
  background: #F5F6F8;
  border: 2px solid transparent;
  border-bottom: transparent;
  display: flex;
  cursor: pointer;
  transition: 0.6s;
}
.faq__spoller-title-wrap svg {
  flex-shrink: 0;
  margin-right: 20px;
  stroke: #D2003F;
  width: 12px;
  height: 12px;
  transition: 0.6s;
}
.faq__spoller-title-wrap.active {
  background: #fff;
}
.faq__spoller-title-wrap.active svg {
  stroke: #34384E;
  transform: rotate3d(1, -1, 0, 180deg);
}
.faq__spoller-title {
  padding-left: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  position: relative;
}
.faq__spoller-title:before {
  content: "";
  height: 100%;
  width: 1px;
  background: #34384E;
  position: absolute;
  left: 0;
  top: 0;
}
.faq__spoller-text {
  padding: 14px 20px 20px 27px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  background: #fff;
  margin-top: -3px;
  display: none;
}

.about {
  padding: 100px 0 87px 0;
  margin-bottom: 90px;
  background: #F5F6F8;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.about__left {
  width: 755px;
  position: relative;
}
.about__img-pseudo {
  width: 187px;
  height: 139px;
  object-fit: contain;
  position: absolute;
  top: 30%;
  left: 34%;
}
.about__img-pseudo-2 {
  width: 195px;
  height: 150px;
  object-fit: contain;
  position: absolute;
  top: 33.5%;
  right: -29%;
}
.about__photo-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.about__photo-item-small {
  width: 289px;
  padding: 30px 20px;
  background: #fff;
}
.about__photo-item-small img {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 25px auto;
}
.about__photo-item-small h2 {
  font-family: "Apex";
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 25px;
  text-align: center;
}
.about__photo-item-small p {
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}
.about__photo-item-big {
  width: 310px;
}
.about__photo-item-big img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 25px auto;
}
.about__photo-item-big h1 {
  font-family: "Apex";
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}
.about__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
  padding-right: 30px;
}
.about__right {
  width: 289px;
  padding: 30px;
  background: #fff;
}
.about__right-item img {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 25px auto;
}
.about__right-item h2 {
  font-family: "Apex";
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 25px;
  text-align: center;
}
.about__right-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer {
  background: #1F243E;
  padding: 80px 0;
}
.footer__top {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #000000;
  margin-bottom: 48px;
}
.footer__top-item {
  position: relative;
}
.footer__top-item:not(:last-child) {
  margin-right: 60px;
}
.footer__top-title {
  font-family: "Apex";
  font-size: 32px;
  line-height: 42px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
.footer__top-title.open {
  color: #D2003F;
}
.footer__info-hide {
  position: absolute;
  background: #F5F6F8;
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.2);
  bottom: 150%;
  left: 0;
  z-index: 1;
}
.footer__info-hide.menedger {
  padding: 40px;
  width: 429px;
  height: 380px;
  display: none;
}
.footer__info-hide.spec-content {
  display: none;
}
.footer__info {
  display: flex;
  align-items: center;
}
.footer__info img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 20px;
}
.footer__info:not(:last-child) {
  margin-bottom: 40px;
}
.footer__info-text h2 {
  font-family: "Apex";
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 10px;
}
.footer__info-text span {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #7D7E80;
  margin-bottom: 10px;
}
.footer__info-text a {
  display: block;
  font-family: "Apex";
  font-size: 32px;
  line-height: 42px;
  color: inherit;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.5s;
}
.footer__info-text a:hover {
  opacity: 0.6;
}
.footer__info-spec {
  display: flex;
  width: 710px;
  height: 218px;
  filter: drop-shadow(0px 20px 70px rgba(0, 0, 0, 0.2));
}
.footer__info-spec img {
  width: 280px;
  height: 218px;
  object-fit: cover;
}
.footer__info-text-spec {
  padding: 30px;
}
.footer__info-text-spec h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #D2003F;
  margin: 0 0 10px 0;
}
.footer__info-text-spec h2 {
  font-family: "Apex";
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 10px;
}
.footer__info-text-spec span {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__tel-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer__tel-wrap a {
  display: block;
  font-family: "Apex";
  font-size: 32px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.5s;
}
.footer__tel-wrap a:hover {
  opacity: 0.6;
}
.footer__address {
  font-size: 17px;
  line-height: 21px;
  font-weight: 300;
  color: #fff;
}
.footer__bottom-right {
  width: 340px;
  margin-right: 50px;
}
.footer__bottom-right a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0.5;
}
.footer__bottom-right a:hover {
  opacity: 0.6;
}
.footer__bottom-right a:not(:last-child) {
  margin-bottom: 10px;
}
.footer__bottom-right small {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: #fff;
  opacity: 0.5;
}

.popup {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(31, 36, 62, 0.77);
  top: 0;
  left: 0;
  overflow-y: auto;
  display: none;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.popup__content {
  width: 410px;
  padding: 30px;
  background: #FFFFFF;
  position: relative;
}
.popup__close {
  width: 25px;
  height: 25px;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.popup__close img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.popup__title {
  font-family: "Apex", sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}
.popup__subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}
.popup__form-item {
  width: 100%;
  display: block;
}
.popup__form-item:not(:last-child) {
  margin-bottom: 60px;
}
.popup__form-input {
  background: #FFFFFF;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
  width: 100%;
  outline: none;
  font-size: 17px;
  transition: 0.3s;
}
.popup__form-input::placeholder {
  opacity: 0.7;
}
.popup__form-input:-webkit-autofill, .popup__form-input:-webkit-autofill:hover, .popup__form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #34384E;
  -webkit-box-shadow: 0 0 0px 40rem white inset;
}
.popup__form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 17px;
  position: relative;
  cursor: pointer;
}
.popup__form-checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.popup__form-checkbox input:checked + .checkbox-style::after {
  background-color: #D2003F;
  visibility: visible;
  transition: 0.4s;
}
.popup__form-checkbox .checkbox-style {
  position: relative;
  margin-right: 20px;
  padding-left: 15px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  transition: 0.4s;
}
.popup__form-checkbox .checkbox-style::before {
  content: "";
  position: absolute;
  inset: 2px;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #D2003F;
}
.popup__form-checkbox .checkbox-style::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(./../img/done-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% contain;
  visibility: hidden;
  transition: color 0.4s;
}
.popup__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 58px;
  background: #D2003F;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}
.popup__btn:hover {
  background: #FA2867;
}

@media screen and (max-width: 1480px) {
  .feedback .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .feedback__inner {
    padding: 60px 20px 80px 20px;
  }
}
@media screen and (max-width: 1249px) {
  .container {
    width: 960px;
  }
  .header__inner {
    padding: 11px 0 14px 0;
  }
  .header__logo {
    width: 225px;
    height: 55px;
  }
  .header__info {
    width: 225px;
    font-size: 15px;
    line-height: 19.5px;
  }
  .header__contacts {
    padding-left: 0;
  }
  .banner__inner {
    padding: 60px 0 80px 0;
  }
  .banner__title {
    width: 100%;
    margin-bottom: 50px;
  }
  .banner__list {
    width: 470px;
  }
  .banner__video-wrap {
    position: relative;
    width: 428px;
    height: 408px;
  }
  .volume {
    padding: 80px 0 80px 0;
  }
  .volume__title {
    margin-bottom: 30px;
  }
  .volume__title span {
    color: #D2003F;
  }
  .products__title {
    margin-bottom: 30px;
  }
  .production {
    margin-bottom: 80px;
  }
  .production__title {
    margin-bottom: 30px;
  }
  .production__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .production__photo-block {
    width: 307px;
  }
  .production__content-block {
    width: 633px;
  }
  .production__list-item {
    display: flex;
  }
  .production__list-item h3 {
    width: 235px;
  }
  .work {
    padding: 80px 0 80px 0;
  }
  .work__title {
    margin-bottom: 30px;
  }
  .cases {
    padding: 80px 0 100px 0;
  }
  .cases__title {
    margin-bottom: 30px;
  }
  .cases__company {
    height: 135px;
    padding: 16px;
    align-items: start;
  }
  .cases__slide-text {
    padding: 22px;
  }
  .cases__img {
    top: 13px;
    right: 20px;
  }
  .trust {
    padding: 60px 0;
  }
  .trust__slide {
    height: 420px;
  }
  .trust__advantages {
    width: 100%;
    margin: 0;
  }
  .delivery {
    padding: 80px 0;
  }
  .delivery__inner {
    padding-bottom: 568px;
    position: relative;
  }
  .delivery__map {
    width: 100%;
    height: 568px;
    right: 0;
  }
  .delivery__title-wrap {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .delivery__title {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .delivery__list {
    display: grid;
    grid-template-columns: 305px 305px;
  }
  .feedback .container {
    width: 100%;
    padding: 0 20px;
  }
  .feedback__inner {
    padding: 60px 20px 80px 20px;
  }
  .feedback__item:nth-child(1), .feedback__item:nth-child(2) {
    width: 225px;
  }
  .faq {
    padding: 60px 0 80px 0;
  }
  .faq__inner {
    flex-direction: column;
  }
  .faq__title {
    margin-bottom: 30px;
    width: 100%;
  }
  .faq__spoller {
    width: 100%;
  }
  .footer__top {
    margin-bottom: 28px;
  }
  .footer__bottom-right {
    margin: 0;
  }
  .footer__info-hide.spec-content {
    left: -20%;
  }
  .about {
    padding: 80px 0 80px 0;
    margin-bottom: 80px;
  }
  .about__left {
    width: 635px;
  }
  .about__img-pseudo {
    top: 31.5%;
    left: 37%;
  }
  .about__img-pseudo-2 {
    top: 32.5%;
    right: -12%;
  }
  .about__photo-item-small {
    width: 307px;
  }
  .about__right {
    width: 310px;
  }
  .about__photo-block {
    margin-bottom: 35px;
  }
  .about__text {
    padding-right: 55px;
    line-height: 20.5px;
  }
  .about__right-item h2 {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 980px) {
  .container {
    width: 728px;
  }
  .header__inner {
    padding: 11px 0 14px 0;
  }
  .header__logo {
    width: 225px;
    height: 55px;
  }
  .header__info {
    display: none;
  }
  .banner__inner {
    padding: 30px 0 60px 0;
  }
  .banner__title {
    width: 100%;
    font-size: 48px;
    line-height: 63px;
    margin-bottom: 30px;
  }
  .banner__info {
    flex-direction: column-reverse;
  }
  .banner__list {
    width: 100%;
  }
  .banner__video-wrap {
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
  }
  .banner__video-btn {
    transform: translate(0);
    bottom: 40px;
    left: 40px;
    top: auto;
  }
  .volume {
    padding: 60px 0 60px 0;
  }
  .volume__title {
    font-size: 48px;
    line-height: 63px;
  }
  .volume__items {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .volume__item {
    flex-direction: row;
  }
  .volume__item img {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
    margin-right: 25px;
  }
  .volume__item:not(:last-child)::before {
    content: none;
  }
  .volume__item-info {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .volume__item-title {
    font-size: 48px;
    line-height: 63px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .volume__item-par {
    width: 100%;
    margin: 0;
  }
  .products {
    padding-top: 60px;
  }
  .products__title {
    font-size: 48px;
    line-height: 63px;
  }
  .products__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .products__item:nth-child(n+10) {
    display: none;
  }
  .production {
    margin-bottom: 60px;
  }
  .production__title {
    font-size: 48px;
    line-height: 63px;
  }
  .production__item {
    flex-direction: column;
  }
  .production__item:nth-child(2) {
    flex-direction: column;
  }
  .production__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .production__photo-block {
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
  }
  .production__content-block {
    width: 100%;
  }
  .work {
    padding: 60px 0 60px 0;
  }
  .work__title {
    font-size: 48px;
    line-height: 63px;
  }
  .work__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 17px;
  }
  .work__item {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    column-gap: 20px;
  }
  .work__item-img {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .work__item-img img {
    height: 48px;
    width: 48px;
  }
  .work__item-title {
    margin-bottom: 0px;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 5px;
  }
  .work__item-subtitle {
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: start;
  }
  .cases {
    padding: 60px 0 60px 0;
  }
  .cases__title {
    font-size: 48px;
    line-height: 63px;
  }
  .cases__slider-slide {
    flex-direction: column;
  }
  .cases__slide-about {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .cases__slide-arrow {
    margin: 0;
  }
  .cases__company {
    width: 604px;
    height: 134px;
    padding: 16px;
    align-items: start;
  }
  .cases__slide-text {
    padding: 22px;
  }
  .cases__img {
    top: 13px;
    right: 20px;
  }
  .trust__top {
    flex-direction: column;
  }
  .trust__title {
    font-size: 48px;
    line-height: 63px;
    margin-bottom: 0;
  }
  .trust__title-block {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .trust__slide {
    height: 330px;
  }
  .trust__slide-arrow {
    margin-top: 0;
  }
  .trust__slider {
    width: 100%;
  }
  .delivery {
    padding: 62px 0;
  }
  .delivery .container {
    margin: 0;
    width: 100%;
  }
  .delivery__inner {
    overflow-x: hidden;
    padding-bottom: 575px;
  }
  .delivery__title-wrap {
    padding: 0 20px;
  }
  .delivery__title {
    font-size: 48px;
    line-height: 63px;
    margin-bottom: 35px;
  }
  .delivery__map {
    width: 960px;
    height: 568px;
    right: -215px;
  }
  .delivery__title-wrap {
    margin-bottom: 40px;
  }
  .delivery__title {
    margin-bottom: 30px;
  }
  .delivery__list {
    grid-template-columns: 354px 354px;
    padding: 0 20px;
  }
  .feedback .container {
    width: 100%;
  }
  .feedback__inner {
    padding: 60px 20px 60px 20px;
  }
  .feedback__items {
    display: grid;
    gap: 20px;
  }
  .feedback__item {
    width: 100%;
  }
  .feedback__item:nth-child(1) {
    grid-column: 1/2;
    width: 100%;
  }
  .feedback__item:nth-child(2) {
    grid-column: 2/3;
    width: 100%;
  }
  .feedback__item:nth-child(3) {
    grid-column: 1/3;
  }
  .feedback__label input {
    font-size: 20px;
    line-height: 24px;
  }
  .faq {
    padding: 60px 0;
  }
  .faq__title {
    font-size: 48px;
    line-height: 63px;
  }
  .faq__spoller {
    width: 100%;
  }
  .faq__spoller-title-wrap {
    padding: 16px 24px 24px 23px;
  }
  .faq__spoller-text {
    font-size: 15px;
  }
  .footer {
    padding: 60px 0;
  }
  .footer__top-title {
    font-size: 24px;
    line-height: 32px;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .footer__top-item:not(:last-child) {
    margin-right: 30px;
  }
  .footer__tel-wrap a {
    font-size: 24px;
    line-height: 32px;
  }
  .footer__bottom-left {
    margin-bottom: 20px;
  }
  .footer__info-hide.spec-content {
    left: -20%;
  }
  .about {
    padding: 60px 0;
    margin-bottom: 60px;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__left {
    width: 100%;
  }
  .about__img-pseudo {
    width: 140px;
    height: 125px;
    top: 34.5%;
    left: 34%;
  }
  .about__img-pseudo-2 {
    top: auto;
    bottom: -5%;
    right: 41%;
    transform: rotate(108deg);
    width: 140px;
    height: 110px;
  }
  .about__photo-item-big {
    width: 398px;
  }
  .about__photo-item-big h1 {
    padding: 0 50px;
  }
  .about__text {
    padding: 0;
    font-size: 17px;
  }
  .about__text.desctop {
    display: none;
  }
  .about__text.mobile {
    display: block;
  }
  .about__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 30px 143px;
  }
  .about__right-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 760px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .header__inner {
    padding: 10px 0 9px 0;
  }
  .header__logo {
    width: 140px;
    height: 34px;
  }
  .header__tel {
    font-size: 20px;
    margin-right: 10px;
  }
  .header__tel-btn {
    padding: 8px 12px;
    font-size: 12px;
  }
  .banner .breadcrumbs {
    margin: 0 20px;
  }
  .banner .breadcrumbs li a {
    font-size: 15px;
    line-height: 18px;
  }
  .banner .container {
    padding: 0;
  }
  .banner__title {
    padding: 0 19px;
    font-size: 32px;
    line-height: 42px;
  }
  .banner__list {
    padding: 0 20px;
  }
  .banner__list-item p {
    line-height: 18px;
  }
  .banner__video-wrap {
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
  }
  .banner__video-btn {
    transform: translate(0);
    bottom: 40px;
    left: 40px;
    top: auto;
  }
  .banner.inner-page .banner__list {
    margin-bottom: 20px;
  }
  .banner.inner-page .banner__list-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 17px;
  }
  .banner.inner-page .banner__list-item p {
    font-size: 15px;
    line-height: 18px;
  }
  .banner.inner-page .banner__list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .banner.inner-page .banner__button {
    margin: 0 20px;
  }
  .volume__title {
    font-size: 32px;
    line-height: 42px;
  }
  .products__title {
    font-size: 32px;
    line-height: 42px;
  }
  .products__items {
    grid-template-columns: 1fr 1fr;
  }
  .products__item:nth-child(n+7) {
    display: none;
  }
  .production__title {
    font-size: 32px;
    line-height: 42px;
  }
  .production__item-title {
    font-size: 24px;
    line-height: 31.5px;
    margin-bottom: 16px;
  }
  .production__list-item {
    flex-direction: column;
    padding: 0px 17px 20px 0px;
  }
  .production__list-item h3 {
    width: 100%;
    padding: 6px 0 6px 70px;
    margin-bottom: 10px;
  }
  .production__list-item p {
    font-size: 15px;
    line-height: 18px;
  }
  .production__list-item::before {
    top: 0;
  }
  .production__list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .work__title {
    font-size: 32px;
    line-height: 42px;
  }
  .work__content {
    grid-template-columns: 1fr;
    gap: 23px;
  }
  .work__item {
    grid-template-columns: 80px 1fr;
    column-gap: 20px;
  }
  .work__item-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .work__item-subtitle {
    font-size: 15px;
    line-height: 19px;
  }
  .cases__title {
    font-size: 32px;
    line-height: 42px;
  }
  .cases__company {
    width: 317px;
    padding: 20px;
  }
  .cases__slide-text {
    padding: 22px;
    flex-direction: column;
  }
  .cases__text-items {
    width: 100%;
    margin-bottom: 20px;
  }
  .cases__item:not(:last-child) {
    margin-bottom: 21px;
  }
  .cases__value {
    font-size: 20px;
    line-height: 26px;
  }
  .cases__img {
    top: 13px;
    right: 20px;
  }
  .cases__par {
    padding-top: 0;
  }
  .cases__par h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .cases__par p {
    font-size: 15px;
    line-height: 18px;
  }
  .cases__img {
    top: -7px;
    right: -2px;
  }
  .trust {
    padding: 50px 0 60px 0;
  }
  .trust__title {
    font-size: 32px;
    line-height: 42px;
  }
  .trust__top {
    margin-bottom: 30px;
  }
  .trust__advantages {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .trust__advantages-item h2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .trust__advantages-item p {
    font-size: 15px;
    line-height: 19px;
  }
  .delivery {
    padding: 60px 0;
  }
  .delivery .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .delivery__inner {
    padding-bottom: 332px;
  }
  .delivery__title-wrap {
    margin-bottom: 30px;
  }
  .delivery__title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  .delivery__subtitle {
    font-size: 15px;
    line-height: 18px;
    width: 215px;
  }
  .delivery__map {
    width: 560px;
    height: 332px;
    right: -100px;
  }
  .delivery__title-wrap {
    margin-bottom: 40px;
  }
  .delivery__title {
    margin-bottom: 30px;
  }
  .delivery__list {
    grid-template-columns: 210px 210px;
    padding: 0 20px;
  }
  .delivery__list-item {
    font-size: 20px;
    line-height: 26px;
  }
  .feedback .container {
    padding: 0;
  }
  .feedback__items {
    display: grid;
    gap: 20px;
  }
  .feedback__item {
    width: 100%;
  }
  .feedback__item:nth-child(1) {
    grid-column: 1/2;
  }
  .feedback__item:nth-child(2) {
    grid-column: 1/2;
  }
  .feedback__item:nth-child(3) {
    grid-column: 1/2;
  }
  .faq .container {
    margin: 0;
    padding: 0;
  }
  .faq__title {
    font-size: 32px;
    line-height: 42px;
    padding: 0 20px;
  }
  .faq__spoller-title-wrap {
    padding: 16px 24px 24px 23px;
  }
  .faq__spoller-title {
    font-size: 16px;
    line-height: 19px;
  }
  .faq__spoller-text {
    font-size: 15px;
  }
  .footer {
    padding: 60px 0;
  }
  .footer__top {
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .footer__top-title {
    font-size: 20px;
    line-height: 26px;
  }
  .footer__top-title:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__top-item:not(:last-child) {
    margin-right: 30px;
  }
  .footer__info-hide.menedger {
    padding: 20px;
    width: 100%;
    height: auto;
    display: none;
  }
  .footer__info-hide.spec-content {
    left: 0;
  }
  .footer__info {
    display: flex;
    align-items: center;
  }
  .footer__info img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  .footer__info:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__info-text h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .footer__info-text span {
    font-size: 15px;
    line-height: 17px;
  }
  .footer__info-text a {
    font-size: 20px;
    line-height: 26px;
  }
  .footer__info-spec {
    width: 100%;
    height: auto;
  }
  .footer__info-spec img {
    width: 180px;
    height: auto;
    object-fit: cover;
  }
  .footer__info-text-spec {
    padding: 20px;
  }
  .footer__info-text-spec h3 {
    font-size: 17px;
    line-height: 19px;
  }
  .footer__info-text-spec h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .footer__info-text-spec span {
    font-size: 15px;
    line-height: 17px;
  }
  .about__photo-block {
    flex-direction: column;
  }
  .about__photo-item-small {
    width: 100%;
    margin-bottom: 30px;
  }
  .about__photo-item-small h2 {
    margin-bottom: 20px;
  }
  .about__photo-item-small p {
    font-size: 15px;
    line-height: 18px;
  }
  .about__photo-item-big {
    width: 100%;
  }
  .about__photo-item-big h1 {
    font-size: 24px;
    line-height: 31px;
  }
  .about__right {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
  }
  .about__text {
    font-size: 15px;
    line-height: 18px;
  }
  .about__img-pseudo {
    width: 90px;
    height: 88px;
    top: 43.5%;
    left: 3%;
    transform: rotate(45deg);
  }
  .about__img-pseudo-2 {
    bottom: -9%;
    right: 41%;
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 470px) {
  .header__inner {
    padding: 10px 0 9px 0;
  }
  .header__logo {
    width: 36px;
    height: 34px;
  }
  .header__logo img.big {
    display: none;
  }
  .header__logo img.mobile {
    display: block;
  }
  .header__tel {
    font-size: 17px;
    margin-right: 16px;
  }
  .banner__title {
    font-size: 28px;
    line-height: 36.7px;
  }
  .banner__video-wrap {
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
  }
  .banner__video-btn {
    transform: translate(0);
    bottom: 40px;
    left: 40px;
    top: auto;
  }
  .banner__list-item h2 {
    font-size: 20px;
    line-height: 26.2px;
    margin-bottom: 10px;
  }
  .banner__list-item p {
    font-size: 15px;
  }
  .banner__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .banner.inner-page .banner__button {
    display: block;
    width: 320px;
    margin: 0 auto;
  }
  .volume .container {
    padding: 0 17px 0 20px;
  }
  .volume__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .volume__items {
    gap: 20px;
  }
  .volume__item-par {
    font-size: 15px;
    line-height: 18px;
  }
  .products__title {
    font-size: 28px;
    line-height: 36px;
  }
  .products__items {
    grid-template-columns: 1fr;
  }
  .products__item:nth-child(n+7) {
    display: none;
  }
  .production__title {
    font-size: 28px;
    line-height: 36px;
  }
  .production__item-title {
    font-size: 24px;
    line-height: 31.5px;
    margin-bottom: 16px;
  }
  .production__list-item {
    flex-direction: column;
    padding: 0px 17px 20px 0px;
  }
  .production__list-item h3 {
    width: 100%;
    padding: 6px 0 6px 70px;
    margin-bottom: 10px;
  }
  .production__list-item p {
    font-size: 15px;
    line-height: 18px;
  }
  .production__list-item::before {
    top: 0;
  }
  .production__list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .work__title {
    font-size: 28px;
    line-height: 26px;
    margin-bottom: 36px;
  }
  .work__content {
    grid-template-columns: 1fr;
    gap: 23px;
  }
  .work__item {
    grid-template-columns: 80px 1fr;
    column-gap: 20px;
  }
  .work__item-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .work__item-subtitle {
    font-size: 15px;
    line-height: 19px;
  }
  .cases__title {
    font-size: 28px;
    line-height: 36px;
  }
  .cases__company {
    width: 252px;
  }
  .cases__slide-arrow {
    flex-direction: column;
  }
  .cases__slide-prev {
    margin-right: 0;
  }
  .cases__slide-text {
    padding: 22px;
    flex-direction: column;
  }
  .cases__text-items {
    width: 100%;
    margin-bottom: 20px;
  }
  .cases__item:not(:last-child) {
    margin-bottom: 21px;
  }
  .cases__value {
    font-size: 20px;
    line-height: 26px;
  }
  .cases__img {
    top: 13px;
    right: 20px;
  }
  .cases__par {
    padding-top: 0;
  }
  .cases__par h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .cases__par p {
    font-size: 15px;
    line-height: 18px;
  }
  .cases__img {
    top: -7px;
    right: -2px;
  }
  .trust__slide {
    height: 230px;
  }
  .delivery__inner {
    padding-bottom: 332px;
  }
  .delivery__map {
    right: -220px;
  }
  .delivery__list {
    grid-template-columns: 109px 191px;
  }
  .feedback__btn {
    width: 100%;
  }
  .faq__title {
    font-size: 32px;
    line-height: 42px;
    padding: 0 20px;
    margin-bottom: 25px;
  }
  .faq__spoller-title-wrap {
    padding: 10px 20px 14px 22px;
  }
  .faq__spoller-title-wrap svg {
    margin-right: 26px;
  }
  .footer__tel-wrap a {
    font-size: 20px;
    line-height: 26px;
    margin-right: 20px;
  }
  .footer__tel-wrap button {
    padding: 10px 20px;
    font-size: 13px;
    line-height: 16px;
  }
  .about__img-pseudo {
    width: 72px;
    height: 88px;
    top: 41.5%;
    left: -4%;
  }
  .about__img-pseudo-2 {
    bottom: -6%;
    right: 44%;
    width: 78px;
    height: 80px;
  }
  .about__photo-item-big h1 {
    padding: 0 20px;
  }
  .about__right-item img {
    width: 100px;
    height: 100px;
  }
  .about__right-item:first-child {
    margin-right: 18px;
  }
}/*# sourceMappingURL=style.css.map */